body{
    overflow-x: hidden;
    background: #f5f5f5;
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.navbar-default {
    background-color: transparent !important;
    border:0 !important;
}
.navbar-default .navbar-nav>li>a {
    color: #fff!important;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  .navbar-default .navbar-brand {
    color: #333 !important;
    font-weight: bold;
  }
  .navbar-fixed-top {
    top: 10% !important;
    border-width: 0 0 1px;
}
.game{
  color: #ec91ec;
  font-weight: bold;
}
.crypto{
  color: #fff;
  font-weight: bold;
}
.login_li{
  border: 1px solid #fff;
    border-radius: 5px;
    padding: 13px 12px;
    margin: 2% 0;
    width: 30%;
    text-align: center;
}
.login_li a{
  color: #fff;
  font-weight: bold;
}
.login_li a:hover{
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
h2{
    text-align: center;
    color: #fff;
}
h3{
    color: #333 !important;
}
.input-group-addon {
      padding: 6px 12px;
      font-size: 14px;
      font-weight: bold !important;
      line-height: 1;
      color: #fff !important;
      text-align: center !important;
      background-color: #eec062 !important;
      border: 1px solid #eec062 !important;
      border-radius: 4px;
}
input{
    border:0;
    padding: 10px;
}
li{
    list-style: none;
}
.product img{
  width: 52%;
  border: 0px solid #82d393;
  border-radius: 92px;
}
.product h3{
  font-size: 37px;
color: #fff !important;
/* margin-bottom: 33px; */
background: #72c9d6;
padding: 15px;
margin: 0px 0 10%;
}
.product{
  /*border: 1px solid #fff;*/
  background: #fff;
  box-shadow: 0px 0px 1px 1px #ccc;
  width: 100%;
  margin: 5% 0;
  height: 411px;
  text-align: center;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  border-radius: 4px;
}
.product h5{
    font-weight: bold;
    color: #78c7d2;
    font-size: 21px;
}
/*.product h6{
    font-weight: bold;
    font-size: 14px;
}*/

.btn {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: #79de94;
    padding: 6px 31px !important;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.link {
    font-size: 20px;
    margin-top: 30px;
}

.link a {
    color: #000;
    font-size: 25px;
}

.footer {
  bottom: 0;
  width: 100%;
  background: #75c8d4;
  padding: 10px;
  color: white !important;
  /* text-align: center; */
  font-size: 25px;
  line-height: 49px;
}
.footer_ul a{
  color: #fff;

}
.card:hover {
      cursor: pointer;
      /*animation-name: bounce;
      -moz-animation-name: bounce;*/
      /*background: #cccccc45;*/
      /*color: #fff;*/
      /*border: 3px solid #fff;*/
      /* box-shadow: 0 0 5px 2px #72c9d6; */
}
.btn:hover{
  font-size: 25px;
  -webkit-transition: font-size 2s; /* Safari */
   transition: font-size 2s;
}
.product img:hover{/*animation-name: bounce;
      -moz-animation-name: bounce;*/
    /*width: 48%;
    border: 1px solid #fff;
    padding: 10px;*/
    border-radius: 4px;
}
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #6ecad8;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
  background-color: #79de94;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  text-transform: uppercase;
  border-color: #59B2E6;
  font-weight: bold;
  border-radius: 4px;
  position: absolute;
  padding: 5% 6%;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}
.btn-default {
    color: #fff!important;
    background-color: #6ecad8!important;
    border-color: #ccc;
}
.btn-register {
  background-color: #79de94;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  text-transform: uppercase;
  border-color: #59B2E6;
  font-weight: bold;
  border-radius: 4px;
  position: absolute;
  padding: 5% 8%;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
table#transactions {
  font-size: 13px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

}

#transactions th {
    border: 1px solid #005a67;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #005a67;
    color: #c6e8c0;
    text-align: left;
    padding: 8px;
}

#transactions td {
  /* border: 1px solid #333; */
  text-align: left;
  padding:2% 0;
  font-size: 16px;
  /* color: #6b6ba7;

    font-weight: bold; */
}
.product1{
width: 30%;
margin: 0;
}
.game1{
margin: 5% 8%;
}
#gameProperty{
    font-size: 22px;
    line-height: 34px;
}



.text_color{
  color: #72c9d6;
}
#featuredProducts{
  /* margin: 14% 0; */
}
.right{
    margin: 9% 0%;
}
.main-content{
  min-height: 650px;
}
.container{
  width: 80% !important;
}


.video-part
{
	width: 100%;
	float: left;
	position: relative;
	overflow: hidden;
	height: 500px;
}
.video-part video
{
	margin-top: -15%;
	width: 100%;


}
.video-part-content
{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	padding-top: 8%;
	background:rgba(87, 117, 189, 0.5) ;
}

.video-part-content .carousel-caption
{
	position: relative !important;
	left: 0%;
	right: 0%;
}
.video-part-content .carousel-indicators
{
	top: 316px;
}
.hader .nav.navbar-nav.pull-right
{
	margin-top: 2%;
}
.video-part-content .carousel-caption h1
{
font-size: 50px;
}
.video-part-content .carousel-caption p
{
font-size: 20px;
}
.affix
{
	width: 100%;
	transition: ease 0.5s;
	background: #fff !important;
  border-bottom: 2px solid #5775bd !important;
}
.navbar-default.affix .navbar-nav > li > a {
  color: #333;
}
.btn-info
{
	background: #5674bc;
	border: 1px solid #5674bc;
	border-radius: 0px;
		transition: ease 0.5s;
}
.btn-info
{
	color: #5674bc;
	transition: ease 0.5s;
}
.full-width
{
	width: 100%;
	float: left;
}
.video-part-content .btn-info:hover {
  color: #fff;
  border: 1px solid #fff;
  transition: ease 0.5s;
  background: transparent;
}
.navbar-default {
    background-color: transparent;
    border:none;

}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-nav > li > a {
    padding-bottom: 6px;
    padding-top: 15px;
}
.btn-info {
    background: #5674bc none repeat scroll 0 0;
    border: 1px solid #5674bc;
    border-radius: 0;
    color: #fff;
    transition: all 0.5s ease 0s;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-delay:1s;
  animation-duration:2s;
}
/* #navbar-collapse-1 ul{
  width:60%;
} */
.navbar-nav>li{
  margin: auto auto auto 1%;
}
nav{
  padding: 1% 0;
  z-index: 9999;
}
#sliderimg1{
    background-color: transparent !important;

}
#slider2{
    background-color: transparent !important;
}
#slider3{
    background-color: transparent !important;
}
.carousel{
  margin: 3% auto;
  height: 380px !important;

}
.carousel img{
  width: 300px
}
.card{
  padding: 15% 0;
  text-align: center;
  /* z-index: 9999; */
}
.card h3{
    text-align: center;
    color: #ab47bc;
    font-family: "Engravers MT";
}
.card h6{
  font-size:16px;
}
.card .btn{
  height: auto;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #a45c97;
}
.card .btn:hover{
  background-color: #4a74af;
  color:#fff;
}
.slider{
      padding: 3%;
}
a:hover{
  text-decoration: none !important;
}
#transactions{
margin: 15% auto;
}
.navbar-nav{
  float: none !important;
}
#live_load{
  margin: 15% auto;
box-shadow: 0 0 1px 1px #555;
padding: 5% 10px;
background: #555;
}
#live_load p{
  color: #a2e41e;
    font-size: 20px;
    padding: 10px;
}
#ul li {
  display: inline-block;
margin: 5px 4px;
font-size: 18px;
color: #a2e41e;
}
.navbar-collapse{
  margin:3% auto !important;

}
.navbar-fixed{
  z-index: 9999 !important;
}
.modal {
    max-height: 25% !important;
  }
